{% extends 'base.html.twig' %}

{% block title %}Agency index{% endblock %}

{% block body %}
    <h1>Vos agences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'agence</th>
                <th>Numéro de télépone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.name }}</td>
                <td>{{ agency.phoneNumber }}</td>
                <td>
                    <a href="{{ path('agency_edit', {'id': agency.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('default') }}">Retour</a>

{% endblock %}
