{% extends 'base.html.twig' %}

{% block title %}New Agency{% endblock %}

{% block body %}
    <h1>Create new Agency</h1>

    {{ include('agency/_form.html.twig') }}

    <a href="{{ path('agency_index') }}">Retour</a>
{% endblock %}
