<footer class="fixed-bottom">
    <div class="row">
        <div class="col-4 text-center">
            <ul>
                <li>Notre service de comparaison</li>
                <li>Nous rejoindre</li>
            </ul>
        </div>
        <div class="col-4 text-center">
            <ul>
                <li>Guide auto</li>
                <li>Guide habitation</li>
                <li>Guide santé</li>
                <li>Guide Epargne</li>
                <li>Guide Retraite</li>
            </ul>
        </div>
        <div class="col-4 text-center">
            <ul>
                <li>Nous contacter</li>
                <li>Espace presse</li>
                <li>Mentions légales</li>
                <li>Politique des cookies</li>
            </ul>
        </div>
    </div>
</footer>




