<div class="col-xs-6">
    <div>
        <img src="https://dummyimage.com/200" alt="partenaires" title="image-des-partenaires">
    </div>
</div>
<div class="col-xs-6">
    <div>
        <form action="#" method="post">
            <div>
                <label for="name">Entrez votre code postal :</label>
                <input type="text" id="name" name="cp">
            </div>
            <button>Comparez</button>
        </form>
    </div>
</div>
<div class="col-xs-12"><img src="https://dummyimage.com/533x100 alt="partenaires" title="image-des-partenaires"></div>



{#
<div>
    <div>
    <img src="https://via.placeholder.com/450" alt="partenaires" title="image-des-partenaires">
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <label for="name">Entrez votre code postal :</label>
                <input type="text" id="name" name="cp">
            </div>
            <button>Comparez</button>
        </form>
    </div>

</div> #}
