<nav>

        <ul class="listonglet">
            <li>
                <div class="onglet">
                    Vehicule
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option">
                            <a href="{{ path('car_new') }}">assurance automobile</a>

                        </li>
                        <li class="option">assurance 2 roues</li>
                        <li class="option">assurance autres véhicules</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="onglet">
                    Habitations
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option">assurance habitations</li>

                    </ul>
                </div>
            </li>
            <li>
                <div class="onglet">
                    Santé-prévoyance
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option">Véhicules</li>
                        <li class="option">Habitations</li>
                        <li class="option">Santé-prévoyance</li>
                        <li class="option">Accidents de la vie</li>
                        <li class="option">Epargne-retraite</li>
                        <li class="option">Qui sommes-nous?</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="onglet">
                    Protection de la personne
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option">Véhicules</li>

                    </ul>
                </div>
            </li>
            <li>
                <div class="onglet">
                    Habitations
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option2">Véhicules</li>
                        <li class="option2">Habitations</li>
                        <li class="option2">Santé-prévoyance</li>
                        <li class="option2">Accidents de la vie</li>
                        <li class="option2">Epargne-retraite</li>
                        <li class="option2">Qui sommes-nous?</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="onglet">
                    Epargne et retraite
                </div>
                <div class="deroulant">
                    <ul class="listoption">
                        <li class="option2">Véhicules</li>
                        <li class="option2">Habitations</li>
                        <li class="option2">Santé-prévoyance</li>
                        <li class="option2">Accidents de la vie</li>
                        <li class="option2">Epargne-retraite</li>
                        <li class="option2">Qui sommes-nous?</li>
                    </ul>
                </div>
            </li>
            {# <li>Véhicules</li>
            <li>Habitations et biens</li>
            <li>Santé et prévoyance</li>
            <li>Accidents de la vie</li>
            <li>Epargne et retraite</li>
            <li>Qui sommes-nous?</li> #}
        </ul>

</nav>