{% extends 'base.html.twig' %}


{% block body %}

    <header>
        <div class="row">
            <div class="col-sm-4"><h1>Magn'assurance</h1></div>
            <div class="col-sm-8 text-right">Connexion</div>
            <div class="col-sm-12">{% include 'default/_menu.html.twig' %}</div>
        </div>
    </header>
    <div class="row">

        {% include 'default/_main.html.twig' %}

    </div>
    </div>


{% endblock %}
