{% extends 'base.html.twig' %}

{% block title %}Magn'assurance : Comparateur d'assurance{% endblock %}

{% block body %}
    <header>
        <div>
        {% include 'default/_menu.html.twig' %}
        </div>
    </header>

    <section>
        {% include 'default/_main.html.twig' %}
    </section>
{% endblock %}
