@import "~normalize.css";
@import "~flexboxgrid";
@import "~font-awesome";
@import "~bootstrap";

header{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,127,0,0.9164040616246498) 22%);

}



html,body{
  background-color: #a7ffa2;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.box{
  border: #2b542c 1px solid;
}

.container-fluid{
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1500px;
  }
}

footer{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 7%, rgba(255,127,0,0.8519782913165266) 95%);

}

.card-margin{
  margin-top: 2rem;
}



.main{
  margin-top: 10rem;
  background-color: #a7ffa2;
  min-height: 100vh;
}

.main-user{

  background-color: #a7ffa2;
  min-height: 100vh;
}

.top{
  display: flex;
  align-items: center;
}

.top{}.myarrow{
  color: red;


      }




h1{
  color: red;
}



ul {
  list-style: none;
}







