{% extends 'base.html.twig' %}

{% block title %}New Prospect{% endblock %}

{% block body %}

    <div class="container">

    <h1>Vos coordonnées</h1>

    {{ include('prospect/_form.html.twig') }}

    <a href="{{ path('default') }}">back to list</a>
    </div>
{% endblock %}
