<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Magn'assurance{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% block header %}
    <header>
        <div>
        <h1>Magn'assurance</h1>
        </div>


    </header>
{% endblock %}



<body>
{% block body %}{% endblock %}

</body>


<footer>
    © Magn'assurance 2020
</footer>

</html>
