<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <title>{% block title %}Magn'assurance : Comparateur d'assurance{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>


<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
    <div class="row">
        <footer>
            {% include 'default/_footer.html.twig' %}
            © Magn'assurance 2020
        </footer>
    </div>
</div>

</body>


</html>
